{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="home">
  <h3>wellcome to part four simple division math game</h3>

  <form method="post">
    <p>1. what is 4/2 ?</p>
    <label for="answer">answer</label>
    <input type="number" name="answer1" required">

    <p>2. what is 0/8 ?</p>

    <label for="answer">answer</label>
    <input type="number" name="answer2" required">

    <p>3. what is 4/4 ?</p>

    <label for="answer">answer</label>
    <input type="number" name="answer3" required">

    <p>4. what is 4/1 ?</p>

    <label for="answer">answer</label>
    <input type="number" name="answer4" required">
    <input type="submit" value="submit">
  </form>
  <div class="links">
  <a href="{{ url_for('math.home')}}">homepage</a>
  <a href="{{ url_for('math.one')}}">part1</a>
  <a href="{{ url_for('math.two')}}">part2</a>
  <a href="{{ url_for('math.three')}}">part3</a>
  <a href="{{ url_for('math.four')}}">part4</a>
</div>
</div>
{% endblock %}
